div.app--section--header
      div.grid-33
        div.app--section--heading
          h2 Timeline
      div.grid-33
        div.app--section--heading
          strong #{tweets[0].user.friends_count}
          h2 Following
      div.grid-33
        div.app--section--heading
          h2 Direct Messages