div.app--section--header
      div.grid-33
        div.app--section--heading
          h2 Timeline
      div.grid-33
        div.app--section--heading
          strong 129
          h2 Following
      div.grid-33
        div.app--section--heading
          h2 Direct Messages