include ./partials/_head.pug
body
  div.error
    h1 #{status}
    p #{text1}<br>But isn't it time to take a break anyway?  It's much nicer out here in the sun.
    img(src="img/404dog.jpg")
    p #{text2}