include ./partials/_head.pug
body
  include ./partials/_header.pug
  include ./partials/_tweetbar.pug
  include ./partials/_appbody.pug
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/postTweet.js")
  script(src="js/formatText.js")