.disabled, disabled:hover {
  background-color: #ccc !important;
  box-shadow: none !important;
}

.lessthanzero {
  color: red;
}

.app--message--text--link {
  color: #444
}

.app--message--text--link:hover {
  color: #000;
}